<h1><%= @mechanic.name %></h1>
<p>Years Of Experience:<%= @mechanic.years_experience %></p>
<h3>Rides For This Mechanic</h3>

<% @mechanic.open_rides_by_thrill_rating.each do |ride| %>
  <%= ride.name %>
<% end %>